<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://th.bing.com/th/id/OIP.h5FwR9pP3kG8WtaVBp9meAHaHa?rs=1&pid=ImgDetMain"
      cardTitle="CS2 o mais odiado e amado dos jogos FPS"
      cardDescription="Jogo mais jogado de 2024"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.10YWxFjqlvpPXE2PUAQHWwHaEK?rs=1&pid=ImgDetMain"
      cardTitle="Furia perde novamente!"
    ></app-small-card>
    <app-small-card
      photoCover="https://th.bing.com/th/id/R.6e5920e087ec4a97077bfd78f2542871?rik=ONdxI28S5U148A&pid=ImgRaw&r=0"
      cardTitle="As melhores poplys flashes. Voce encontra com Rogerthat"
    ></app-small-card>
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.MjL7nITBMPJBYcDfoVci3QAAAA?rs=1&pid=ImgDetMain"
      cardTitle="As melhores desculpas para não se jogar cs2: Hoje tem sqn! To off! To doente! Só tem eu e tu! Desinstalei o cs2"
    ></app-small-card>
  </div>
</div>
